html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

button {
    background-color: rgb(65, 159, 231);
    color: white;
    padding: 6%;
    width: 85px;
    border: 0;
    border-radius: 15px;
    font-weight: bold;
}

#dashboard-header {
    /* allows for equal spacing in gap rows */
    margin-bottom: 0;
}

.content {
    display: grid;
    grid-template-columns: 285px 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}

.header {
    grid-column: 2 / -1;
    display: grid;
    grid-template-rows: 1fr 2fr;
    align-items: center;
    font-weight: bold;
}

.header > div, .user-content {
    padding: 15px;
}

.header-first-row {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.header-first-row > div {
    justify-self: end;
}

.header-second-row {
    display: grid;
    grid-template-columns: 2fr 350px;
}

.header-btns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: end;
}

.dashboard {
    background-color: rgb(65, 159, 231);
    color: white;
    padding-left: 10%;
    grid-row: 1 / -1;
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 50px;
}

.dashboard > div {
    font-size: 1.3em;
    font-weight: bold;
}

.site-nav, .settings-nav {
    display: grid;
    gap: 22px;
    margin-bottom: auto;
}

.user-content {
    background-color: rgb(221, 227, 232);
    /* padding: 20px; */
}

.main-projects {
    /* display: grid; */
}

.announcements {
    /* display: grid; */
}

.trending {
    /* display: grid; */
}