html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

input {
    background-color: rgb(221, 227, 232);
    border: 0;
    border-radius: 5px;
}

button {
    background-color: rgb(65, 159, 231);
    color: white;
    width: 85px;
    border: 0;
    border-radius: 15px;
    font-weight: bold;
}


#dashboard-header {
    /* allows for equal spacing in gap rows */
    margin-bottom: 0;
}

.content {
    display: grid;
    grid-template-columns: 285px 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}

.header {
    grid-column: 2 / -1;
    display: grid;
    grid-template-rows: 1fr 2fr;
    align-items: center;
    font-weight: bold;
}

.header svg {
    fill: currentColor;
    width: 1.6em;
    height: 1.6em;
    vertical-align: text-bottom;
    padding-right: 30px;
}

.header > div {
    padding: 0px 60px;
}

.header-first-row {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
}

.header-search-bar {
    display: grid;
    grid-template-columns: min-content auto;
    align-items: center;
}

.header-search-bar > svg {
    min-height: 100%;
}

.header-search-bar > input {
    min-height: 35px;
    border-radius: 15px;
}

.profile-pic {
    max-height: 50px;
    max-width: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-pic > svg {
    width: 100%;
    height: 100%;
}

.full-name {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: end;
    align-items: center;
}

.header-second-row {
    display: grid;
    grid-template-columns: 2fr 350px;
    font-size: large;
}

.welcome-msg {
    font-size: small; 
}

.header-btns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: end;
}

.dashboard {
    background-color: rgb(65, 159, 231);
    color: white;
    padding-left: 10%;
    grid-row: 1 / -1;
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 50px;
}

.dashboard-img {
    padding-right: 16px;
}

.dashboard > div {
    font-size: 1.4em;
    font-weight: bold;
}

.dashboard svg {
    fill: currentColor;
    width: 1.4em;
    height: 1.4em;
    vertical-align: text-bottom;
    padding-right: 30px;
}

.messages-img {
    /* Flips image around */
    /* transform: scaleX(-1); */
    /* padding-right: 0px; */
    /* padding-left: 30px; */
}

.site-nav, .settings-nav {
    display: grid;
    gap: 22px;
    margin-bottom: auto;
}

.user-content {
    background-color: rgb(221, 227, 232);
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 25px;
    padding: 45px 40px 60px 25px;
}

.main-side-content {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 35px;
}

.main-projects, .announcements, .trending {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 15px;
}

.your-project-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 25px;
}

.your-project-cards > * {
    background-color: white;
    border-radius: 5px;
    box-shadow: inset 8px 0px rgb(216, 184, 0), 3px 3px 3px rgb(180, 180, 180);
}

.announcement-cards {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    background-color: white;
    border-radius: 5px;
}

.trending-cards {
    display: grid;
    grid-template-rows: repeat(4, 75px);
    background-color: white;
    border-radius: 5px;
}

.announcement-cards, .trending-cards {
    box-shadow: 3px 3px 3px rgb(180, 180, 180);;
}